#iconCarousel {
    font-size: 220px;
    line-height: 225px;
    text-align: center;
    text-shadow: 2px 2px 3px #222222;
}
#iconCarousel a { color: #FFFFFF; }
#iconCarousel .carousel-control {
    background: none repeat scroll 0 center transparent;
    border-width: 0;
    font-size: 30px;
    height: 30px;
    left: 117px;
    line-height: 25px;
    top: 253px;
    width: 30px;
}
#iconCarousel .carousel-control.right {
    left: auto;
    right: 117px;
}
.jumbotron .shameless-self-promotion {
    color: rgba(255,255,255,.25);
    font-size: 14px;
    margin-top: 25px;
    text-shadow: none;
}
.jumbotron .shameless-self-promotion a {
    color: #fff;
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.jumbotron .shameless-self-promotion a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
}